@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');

*{
	margin:0;
	padding:0;
}
html, body {
	margin: 0;
	padding: 0;
}

.alpha-font {
	font-family:'Raleway', Sans-Serif;
}

.beta-font {
	font-family:'Open Sans', Sans-Serif;
}